.text-left {
    text-align: left;
}

.radio label {
    color: #000;
    height: 24px;
    padding: 8px;
    position: relative;
    padding-left: 36px;
    cursor: pointer;
    font-size: 16px;
}

.radio input[type="radio"] {
    width: 24px;
    height: 24px;
    position: absolute;
    left: 0;
    top: 50%;
    transform: translateY(-50%);
    cursor: pointer;
    accent-color: #ff4026;
    border: 1px solid #cacaca;
}

select {
    height: 40px;
    border: 1px solid #cacaca;
    padding: 8px;
    font-size: 16px;
    margin: 0px 8px 0px 0px;
    background-color: #fff;
    color: #000;
}

select:focus {
    box-shadow: 0 0 2px #cacaca;
    outline: none;
}