.card {
  padding: 0px 24px;
  margin: 24px 0px;
  box-shadow: 0 2px 5px rgba(0, 0, 0, 0.1);
  border-radius: 12px;
  background-color: #f8f8f8 !important;
  border: #cdcdcd solid 1px;
}

.card-content {
  text-align: left;
}